*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: black;
}

.container{
  width: 380px;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  overflow: hidden;
}

.phone{
  width: 350px;
  height: 630px;
  border-radius: 40px;
  display: flex;
  border: 4px solid silver;
  position: relative;
}


.power-button{
  position: absolute;
  top: 40%;
  right: -8px;
  width: 8px;
  height: 40px;
  background-color: silver;
  border-radius: 4px;
  transform: translateY(-40%);
}

.volume-button{
  position: absolute;
  top: 20%;
  right: -8px;
  width: 8px;
  height: 90px;
  background-color: #444;
  background-color: silver;
  border-radius: 4px;
  transform: translateY(-20%);
}

.phone .phone-innerlayer{
  width: 350px;
  height: 622px;
  border: 9px solid black;
  border-radius: 36px;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.header{
  position: fixed;
  z-index: 5;
  color: white;
}

.header-top{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.time{
  margin-right: 5px;
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
}

.top-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 5px;
}

.phone .phone-innerlayer .phone-camera{
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 25px;
  border-radius: 0 0 20px 20px;
  background-color: black;
}

.camera{
  width: 20px;
  height: 20px;
  background-color: rgba(46, 40, 40, 0.801);
  border-radius: 50%;
  margin-left: 12px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lens{
  width: 7px;
  height: 7px;
  background-color: #181b2c;
  border-radius: 50%;
}

.lens-1{
  width: 7px;
  height: 7px;
  background-color: #181b2c;
  margin-right: 30px;
  border-radius: 50%;
}


.tab-menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-left: 14px;
  z-index: 5;
}

.text{
  display: flex;
  gap: 15px;
  color: #dddada;
}

.text .Following, .Friends{
  position: relative;
}
.text .Following span{
  width: 5px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 0;
  right: -4px;
  border-radius: 50%;
}

.text .Friends span{
  position: absolute;
  width: 10px;
  top: -2px;
  right: -7px;
  background-color: red;
  font-size: 8px;
  border-radius: 50%;
  text-align: center;
}

.text .for-you{
  color: white;
}


/* .center{
  width: 20px;
  height: 100vh;
  color: green;
  background-color: green;
  margin: 0 auto;
} */

.phone .phone-innerlayer .bottom{
  width: 330px;
  height: 45px;
  background-color: black;
  color: white;
  bottom: -1px;
  position: absolute;
  z-index: 5;
}

.phone .phone-innerlayer .bottom .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 5px;
  position: fixed;
  gap: 35px;
}

.nav ion-icon{
  font-size: 22px;
}

.nav div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav p{
  font-size: 10px;
}

.create{
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 35px;
  height: 30px;
  color: black;
  font-weight: bolder;
}

.create::before, .create::after{
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  padding: 0 40%;
}

.create::before{
  left: 1.5px;
  background-color: red;
}

.create::after{
  right: 1.5px;
  background-color: blue;
}





.video-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto; 
  scroll-snap-type: y mandatory;
}

.vid {
  position: relative; 
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vid.last{
  margin-bottom: 500px;
}

.sidebar {
  position: absolute;
  top: 70%;
  right: 2px; 
  transform: translateY(-50%); 
  z-index: 4; 
}


.text-inbox{
  position: absolute;
  bottom: 20px;
  left: 5px;
  color: white;
}

.name, .song{
  display: flex;
  align-items: center;
}

.name ion-icon{
  margin-left: 4px;
  color: white;
  background-color: blue;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
}

.song ion-icon{
  margin-right: 2px;
  margin-left: -2px;
  font-size: 12px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: white; 
  cursor: pointer;
}

.navigation .sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.navigation .sidebar-nav ion-icon {
  font-size: 30px;
}

.profile-pic{
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}
.profile-pic img{
  width: 50px;
  height: 50px;
}

#heart-icon{
  font-size: 36px;
  transition: color 0.3s ease;
}
#heart-icon.liked{
  color: #f73832;
}

.link {
  background-color: #4b4bdb;
  padding: 8px;
  border-radius: 50%;
  rotate: 130deg;
}

.navigation .sidebar-nav.link ion-icon{
  font-size: 18px;
}

.navigation .sidebar-nav.disk ion-icon{
  font-size: 33px;
  color: #2b2a2a;
  border-radius: 50%;
  border: .5px solid #2b2a2a;
}










/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: .05px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

video::-webkit-media-controls-enclosure{
  display: none;
}


